[submodule "concordium-grpc-api"]
	path = concordium-grpc-api
	url = git@github.com:Concordium/concordium-grpc-api.git
[submodule "concordium-base"]
	path = concordium-base
	url = git@github.com:Concordium/concordium-base.git
